// Tạo biến
$color_gray_1: #ececec;
$color_purpler_2: #ae18e2;
$color_red_1: red;
$color_black_1: black;

// FONT-SIZE
$fs_1: 13px;
$fs_2: 18px;
$fs_3: 20px;
// FONT-WEIGHT
$fw_300: 300;
$fw_400: 400;
$fw_500: 500;
$fw_700: 700;
$fw_bold: bold;
// PADDING
$pe_footText: 105px;
$ps_list: 0;
$p_foot_container: 48px 80px;
$p_register_container: 48px 200px;

// MARGIN